<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>田野间商城后台管理</title>
<style>

h1{
	font-family:"微软雅黑";
	padding:10px 0 0 20px;
	color:#FFF;}
</style>
</head>
    <frameset rows="80,*" frameborder="no">
       <frame src="/index.php/Home/Index/top"/ scrolling="yes">
       <frameset cols="200,*" frameborder="no">
       <frame src="/index.php/Home/Index/left" name="left"/>

       <frame src="/index.php/Home/Index/right" name="right"/>
       </frameset>
    </frameset>
    <noframes>
	<body>
	您的浏览器不支持框架
	</body>
	</noframes>
</html>
