
<include file="Home/View/public/header.html" />
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Account Page///////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="/index.php">首页</a></li>
						<li><a href="javascript:void(0)" style="color:rgb(280,68,0)">注册</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="heading"><h2 style="color:rgb(280,69,0);padding-left:200px">还没有账号? 快来注册属于你的专属账号吧</h2></div>
				</div>
				<div class="col-md-6" style="margin-left:300px">
					<table class="table" id="register">
					  <form method="post" action="__MODULE__/User/register" id="register" name="form" onsubmit="return checkForm()">
						<script>
							
						</script>
					  	<tr>
					  	  <td><label>用户名</label></td>
					  	  <td>
								<input type="text" class="form-control" placeholder="请填写用户名" name="username" id="username" oninput="registUsername();" onblur="judge();" required>
		<script>
		function judge(){
			var username = document.getElementById("username").value;
			var span = document.getElementById("usernameSpan");
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && xhr.status == 200){
					//alert(xhr.responseText);
					if(xhr.responseText == 1){
						span.innerHTML = "用户名已存在";
					}else{
					}
				}
			}
			xhr.open("get","/index.php/Home/User/register/name/"+username);
			xhr.send(null);
		}
		</script>
								<span id="usernameSpan"></span>
						   </td>
						</tr>
						<tr>
							<td><label>密码</label></td>
							<td>
							
								<input type="password" class="form-control" placeholder="请填写密码" name="password" id="passwords"  required onKeyUp="pwStrength(this.value);" onBlur="pwStrength(this.value);">
								<span id="passwordSpan"></span>
							</td>
						</tr>
						<tr>
							<td><label>密码强度</label></td>
							<td>
								<table cellspacing="0" class="regist-table">   
                                				<tr>
                                    				<td id="strength_L">弱</td>
                                        			<td id="strength_M">中</td>
                                        			<td id="strength_H">强</td>
                                    			</tr>
                              	</table>

							</td>
						</tr>
						<tr>
							<td><label>确认密码</label></td>
							<td>
								<input type="password" class="form-control" placeholder="请确认密码" id="passwordTwo" oninput="registPswordTwo();" required>
								<span id="passwordTwoSpan"></span>
							</td>
						</tr>
						<tr>
							<td><label>邮箱</label></td>
							<td>
								<input type="text" class="form-control" placeholder="请填写邮箱" name="email" id="email" oninput="registerEmail();" required> 
								<span id="emailSpan"></span>
							</td>
						</tr>
						<tr>
							<td><label>手机号</label></td>
							<td>
								<input type="text" class="form-control" placeholder="请填写手机号" name="phone" id="phone" oninput="registerPhone();" required>
								<span id="phoneSpan"></span>
							</td>
						</tr>
						<tr>
							<td><label>验证问题</label></td>
							<td>
								<select name="question">
									<option value="1">您小学的名称？</option>
									<option value="2">您中学的名字？</option>
									<option value="3">您大学的名字？</option>
									<option value="4">您最爱吃的食物？</option>
									<option value="5">您恋人的名字？</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label>答案</label></td>
							<td>
								<input type="text" class="form-control" placeholder="请填写验证答案，用于您找回密码" name="answer" required>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input  type="radio" name="rValue">看过并接受
								<span style="color:rgb(280,68,0)">《忆家乡用户协议》</span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
							<input type="submit" style="background:rgb(280,68,0);color:white;width:150px;height:40px;border-radius: 10px;margin-left:80px" value="创建">
							<input type="reset" style="background:rgb(280,68,0);color:white;width:150px;height:40px;border-radius: 10px" value="重写">
							</td>
						</tr>
					</form>
					</table>
				</div>
			</div>
		</div>
	</div>
	<include file="Home/View/public/footer.html" />