
<include file="Home/View/public/header.html" />
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Account Page///////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div  class="container">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="/index.php">首页</a></li>
						<li><a href="javascript:history.go(-1)">返回上一级</a></li>
						<li><a href="javascript:void(0)" style="color:rgb(280,68,0)">个人信息</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="sick">
					<i></i>
				</div>
				<div class="col-lg-3" id="info-left">
					<ul style="margin-top:25px;font-size:14px">
						<li><span class="glyphicon glyphicon-user" style="color: rgb(96, 38, 114); font-size: 16px;"></span> <b>个人信息管理</b>
							<ul style="margin-left:30px">
								<li>
									<a href="/index.php/Home/User/infoChangePasword" target="a">
										修改密码
									</a>
								</li>
								<li>
									<a href="/index.php/Home/User/infoChangeQuestion" target="a">
										修改密保问题
									</a>
								</li>
							</ul>
						</li>
						<li><span class="glyphicon glyphicon-th-list" style="color: rgb(96, 38, 114); font-size: 16px;"></span> <b>订单信息管理</b>
							<ul style="margin-left:30px">
								<li>
									<a href="/index.php/Home/User/selectOrders" target="a">查看订单</a>
								</li>
								<li><a href="__MODULE__/Goods/address">查看收货地址</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-lg-8" style="margin:-10px 0 20px 30px;border:0px dashed gray">
					<iframe name="a" width="900" height="900" frameborder=1></iframe>
				</div>
			</div>
	</div>
	<include file="Home/View/public/footer.html" />