<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>公告详情</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{$smarty.const.CSS_URL}bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="{$smarty.const.CSS_URL}style.css">
	
	<!-- my CSS -->
	<link rel="stylesheet" href="{$smarty.const.CSS_URL}my.css">

	<!-- Custom Fonts -->
    <link rel="stylesheet" href="{$smarty.const.FONT_URL}css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="{$smarty.const.FONTS_URL}font-slider.css" type="text/css">

</head>

<body>
	


	<div id="page-content" class="single-page">
		<div class="container" style="margin-left:50px;">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li onclick="javascript:history.go(-1);" style="cursor:pointer;">返回上一级</li>
						<li style="color:rgb(280,68,0)">查看公告详情</li>
					</ul>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-12">
					<center>					
						<div class="col-md-11">
						 	<h3 align="center" style="color:rgb(286,60,0);font-family:楷体">{$info['nc_title']}</h3>
							<h6 align="center" style="color:gray;font-family:楷体">{$info['nc_time']}</h6>
						  	<p style='line-height:30px;text-indent:46px;letter-spacing:2px;text-align: left'>{$info['nc_info']}</p>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>


</body>
</html>