<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>userInfo</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"  type="text/css">

	
	<!--  CSS -->
	<link rel="stylesheet" href="{$smarty.const.ADMIN_CSS}my.css">

	<!-- Custom Fonts -->
    <link rel="stylesheet" href="{$smarty.const.FONT_URL}css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="{$smarty.const.FONTS_URL}font-slider.css" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="__PUBLIC__/js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>


</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<table class="table table-hover">
				<tr>
					<th>会员编号</th>
					<th>会员名</th>
					<th style="padding-left:70px">操作</th>
				</tr>
			{foreach $info as $v}
				<tr>
					<td>{$v['user_id']}</td>
					<td>{$v['user_name']}</td>
					<td>
						<a href="/index.php/Home/Index/user/user_id/{$v['user_id']}">查看会员信息</a>
						&nbsp;&nbsp;&nbsp;
						<a href="">删除</a>
					</td>
				</tr>
			{/foreach}	
			</table>
		</div>
	</div>
</div>

</body>
</html>