<include file="Home/View/public/header.html" />
    <!--//////////////////////////////////////////////////-->
    <!--///////////////////Cart Page//////////////////////-->
    <!--//////////////////////////////////////////////////-->
<script>
 
    function change(id){
        var arId = document.getElementById("arId").value;
        var name = document.getElementById("name").value;
        var phone = document.getElementById("phone").value;
        var address = document.getElementById("address").value;
        var code = document.getElementById("code").value;
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4 && xhr.status == 200){
                    //alert(xhr.responseText);
                    var info=eval('('+decodeURI(xhr.responseText)+')');
                    // alert(info.ar_address);

                        arId = info.ar_id;
                        name = info.ar_name;
                        phone = info.ar_phone;
                        address = info.ar_address;
                        code = info.ar_email;  
                }
            }
            xhr.open("get","/index.php/Goods/address/act/change/ar_id/"+id);
            xhr.send(null);
            
    }
   
</script>


    <div id="page-content" class="single-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="/index.php">首页</a></li>
                         <li><a href="javascript:history.go(-1);">返回上一级</a></li>
                        <li><a href="javascript:void(0)" style="color:rgb(280,68,0)">管理收货地址</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="heading"><h3 style="color:rgb(280,69,0);padding-left:100px">新增收货地址</h3></div>
                </div>
                <div class="col-md-6" style="margin-left:100px">
                    <table class="table" id="address">
                      <form method="post" action="{$smarty.const.__ACTION__}">
                        <tr>
                          <td><label>收货人姓名</label></td>
                          <td>
                                <input type="text" class="form-control" placeholder="请填写收货人姓名" name="ad_name" id="name" required>
                           </td>
                        </tr>
                        <tr>
                            <td><label>收货人电话</label></td>
                            <td>
                            
                                <input type="text" class="form-control" placeholder="请填写收货人电话" name="ad_phone" id="phone" required>
                            </td>
                        </tr>
                        <tr>
                            <td><label>收货地址</label></td>
                            <td>
                                <input type="text" class="form-control" placeholder="请填写收货地址。建议尽量写详细" name="ad_ad" id="address" required> 
                            </td>
                        </tr>
                        <tr>
                            <td><label>邮编</label></td>
                            <td>
                                <input type="text" class="form-control" placeholder="请填写收货地址邮编" name="ad_email" id="code" required>
                                <span id="emailSpan"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <input type="hidden" id="arId">
                            <input type="submit" style="background:rgb(280,68,0);color:white;width:150px;height:40px;border-radius: 10px;margin-left:80px" value="添加">
                            <input type="reset" style="background:rgb(280,68,0);color:white;width:150px;height:40px;border-radius: 10px" value="重写">
                            </td>
                        </tr>
                    </form>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                  <table class="table table-hover" id="address-span">
                           <h6 style="color:rgb(280,68,0);font-size: 16px">已保存X条收货地址，您还可以保存X条地址(最多20条)</h6>
                            <tr>
                                <th scope="col">收货人</th>
                                <th scope="col">电话</th>
                                <th scope="col">收货地址</th>
                                <th scope="col">邮编</th>
                                <th scope="col">操作</th>
                            </tr>
                      <volist name="info" id="v">
                            <tr>
                                <td>{$v['ar_name']}</td>
                                <td>{$v['ar_phone']}</td>
                                <td>{$v['ar_address']}</td>
                                <td>{$v['ar_code']}</td>
                                <td>
                                    
                                    <a href="/index.php/Goods/address/act/delete/ar_id/{$v['ar_id']}" class="btn btn-danger btn-sm active" role="button">删除</a>
                                </td>
                            </tr>
                      </volist>
                        </table>
                </div>
    </div>



<include file="Home/View/public/footer.html" />