
<include file="Home/View/public/header.html" />
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Contact Page///////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="/shop_demp/index.php">首页</a></li>
						<li><a href="javascript:void(0)" style="color:rgb(280,68,0)">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="heading"><h1>联系我们<span style="font-size: 18px;color:rgb(280,68,0);padding-left:30px">对我们有什么建议？快来告诉我们吧</span></h1></div>
				</div>
				<div class="col-md-6" style="margin-bottom: 30px;">
					<form name="form1" id="ff" method="post" action="?" onsubmit="return checks();">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="您的姓名 *" name="name" id="name" required>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="您的邮箱 *" name="email" id="email" oninput="registerEmail();" required>
							<span id="emailSpan" style="color:red"></span>
						</div>
						<div class="form-group">
							<input type="tel" class="form-control" placeholder="您的电话 *" name="phone" id="phone" oninput="registerPhone();" required>
								<span id="phoneSpan" style="color:red"></span>
						</div>
						<div class="form-group">
							<textarea class="form-control" placeholder="您的建议 *" name="message" id="message" required></textarea>
						</div>
						<button type="submit" class="btn btn-1" style="background:rgb(255,68,0);color:white">点击发送</button>
					</form>
<script>
	function checks(){
		var email = document.getElementById("emailSpan");
		var phone = document.getElementById("phoneSpan");

		if(email.innerHTML){
			alert("您的邮箱格式错误");
			return false;
		}else if(phone.innerHTML){
			alert("您的手机号码格式错误");
			return false;
		}else{
			return true;
		}
	}
</script>
				</div>
				<div class="col-md-6">
					<p><span class="glyphicon glyphicon-home" style="color:rgb(255,68,0)"></span> 福建省龙岩市新罗区东肖镇龙岩学院一组六栋520</p>
					<p><span class="glyphicon glyphicon-earphone" style="color:rgb(255,68,0)"></span> +15880630261</p>
					<p><span class="glyphicon glyphicon-envelope" style="color:rgb(255,68,0)"></span> 15880630261@qq.com</p>
					<iframe src="/Home/View/Goods/map.html" width="500" height="300" frameborder="0" style="border:0"></iframe>
				</div>
			</div>
		</div>
	</div>
	<include file="Home/View/public/footer.html" />