
<include file="Home/View/public/header.html" />
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Category Page//////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="/index.php">首页</a></li>
						<li><a href="/index.php/Home/Goods/goodslist/">商品列表</a></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div id="main-content" class="col-md-8">
						<div class="row">
							<div class="products">
							<!-- smarty遍历起点-->

								<volist name="info" id="v">
								<div class="col-xs-4">
									<div class="product">
										<div class="image"><a href="/index.php/Home/Index/goodsinfo/good_id/{$v['gd_id']}"><img src="{$v['gd_img']}" /></a></div>
										<div class="buttons">
											<a class="btn cart" href="/index.php/Home/Goods/cart/good_id/{$v['gd_id']}">
												<span class="glyphicon glyphicon-shopping-cart">购买</span>
											</a>
											<a class="btn wishlist" href="/index.php/Home/Index/favorite/add/{$v['gd_id']}">
												<span class="glyphicon glyphicon-heart">收藏</span>
											</a>
										</div>
										<div class="caption">
											<div class="name"><h3><a href="javascript:void(0)">{$v['gd_name']}</a></h3></div>
											<div class="price">￥{$v['gd_price_other']}<span>￥{$v['gd_price_self']}</span></div>
											<div class="rating">
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star-empty"></span></div>
										</div>
									</div>
								</div>
								</volist>
							
							<!-- smarty遍历终点-->

						</div>
						</div>	
							
						<div class="pages">
							{$page}
						</div>
				</div>
				<div id="sidebar" class="col-md-4">
						<div class="widget wid-categories">
						<div class="heading"><h4>商品类别</h4></div>
						<div class="content">
								<ul>
									<li><a href="/index.php/Home/Goods/goodslist//type/肉类精选">肉类精选</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//type/粮油米面">粮油米面</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//type/名茶名酒">名茶名酒</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//type/果蔬副食">果蔬副食</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//type/水产极品">水产极品</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//type/野生特产">野生特产</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//type/滋补保健">滋补保健</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//type/工艺礼品">工艺礼品</a></li>
								</ul>
						</div>
					</div>
					<div class="widget wid-categories">
						<div class="heading"><h4>商品产地</h4></div>
							<div class="content">
								<ul>
									<li><a href="/index.php/Home/Goods/goodslist//from/云南">云南</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/四川">四川</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/重庆">重庆</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/北京">北京</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/山西">山西</a></li>
								
									<li><a href="/index.php/Home/Goods/goodslist//from/天津">天津</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/江苏">江苏</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/浙江">浙江</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/海南">海南</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/湖南">湖南</a></li>
								
									<li><a href="/index.php/Home/Goods/goodslist//from/福建">福建</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/东三省">东三省</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/西藏">西藏</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/内蒙古">内蒙古</a></li>
									<li><a href="/index.php/Home/Goods/goodslist//from/新疆">新疆</a></li>
								</ul>
							</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

<include file="Home/View/public/footer.html" />
