
<include file="Home/View/public/header.html" />
	<div class="row" style="margin-top:30px; color:black;">
		<div class="col-md-8" style="padding-left:100px;line-height: 30px;font-size: 18px;color:rgb(280,68,0)">文章列表</div>
		<div class="col-md-4">
			<input type="text" placeholder="请输入关键字 例:板鸭" id="searchText">
			<button type="button" class="btn btn-default" onclick="searchText()">立即搜索</button>
		</div>
	</div>
<script>
function searchText(){
	var info = document.getElementById("searchText").value;
	window.location.href = '{$smarty.const.__ACTION__}/search/'+info;
}
</script>
	<div class="container" style="margin-top:80px;margin-bottom:50px">
		<table border="1" class="table table-hover">
			<tr>
				<th>文章标题</th>
				<th>作者</th>
				<th>添加日期</th>
			</tr>
			<volist name="info" id="v">
			<tr>
				<td><a href="/index.php/Home/Goods/artile/id/{$v['if_id']}">{$v['if_gd_name']}</a></td>
				<td>{$v['if_name']}</td>
				<td>{$v['if_time']}</td>
			</tr>
			</volist>
		</table>
	</div>
	<include file="Home/View/public/footer.html" />