
<include file="Home/View/public/header.html" />
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Product Page///////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="/index.php">主页</a></li>
						<li><a href="/index.php/Home/Goods/goodslist">商品列表</a></li>
						<li><a href="javascript:void(0)" style="color:rgb(280,68,0)">{$info['gd_type']}</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div id="main-content" class="col-md-8">
					<div class="product">
						<div class="col-md-6">
							<div class="image">
									<img src="{$info['gd_img']}"/>
							</div>
						</div>
						<!-- 商品具体信息 -->
						<div class="col-md-6">
							<div class="caption">
								<div class="name"><h3>{$info['gd_name']}【{$info['gd_type']}】</h3></div>
								<div class="info">
									<ul>
										<li>商城价: <span style="font-size:18px;color:#dd0000">￥{$info['gd_price_self']}</span>&nbsp;(立省{$info['gd_price_other']-$info['gd_price_self']}元)</li>
										<li>市场价：<span style="text-decoration: line-through;">￥{$info['gd_price_other']}</span></li>
										<li>商品库存：{$info['gd_num']}</li>
										<li>商品重量：{$info['gd_weight']}g</li>
										<li>商品点击数：{$info['gd_click_num']}</li>
										<li>商品上架时间：{$info['gd_date']}</li>
									</ul>
								</div>
								<div class="rating">
									<span>用户评价：</span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star-empty"></span>
								</div>

								<div class="well"><label>我要买: </label>&nbsp;

									 <form action="/index.php/Home/Goods/cart/act/add" method="post">
									 <span class="glyphicon glyphicon-minus" style="color: rgb(260, 68, 0); font-size: 13px;" onclick="minus();"></span>&nbsp;

									 <input id="num" type="text" value="1" name="buyNum">&nbsp;
									 <span class="glyphicon glyphicon-plus" style="color: rgb(260, 68, 0); font-size: 13px;" onclick="plus();"></span>
									 <br />
									 <input type="hidden" name="good_id" value="{$info['gd_id']}">
									 <input type="submit" class="btn btn-primary btn-sm" value="加入购物车">
									 </form>


									 <a href="/index.php/Home/Goods/favorite/add/{$info['gd_id']}" class="btn btn-primary btn-sm" role="button"  style="position:relative;bottom:31px;left:90px">
									 	<span class="glyphicon glyphicon-star"></span>加入收藏夹</a>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>	
					<div class="product-desc">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#description">商品描述</a></li>
							<li><a href="#review">购买评价</a></li>
						</ul>
						<div class="tab-content">
							<div id="description" class="tab-pane fade in active">
								<h5>商品介绍</h5>
								<p style='line-height:30px;text-indent:35px;letter-spacing:1px;'> {$text}</p>
								<h5>商品实拍</h5>
								<div class="tab-img"><img src="{$info['gd_img']}"></div>
							</div>
							<div id="review" class="tab-pane fade">
							  <div class="review-text">
							  </div>
							  <div class="review-form">
								<h4>谈谈对这件商品的看法</h4>
								<form name="form1" id="ff" method="post" action="/index.php/Home/Goods/suggest">
									<label>
									<textarea name="message" id="message" required></textarea>
									</label>
									<input type="hidden" value="{$info['gd_id']}" name='id'>
									<div class="text-right">
										<input class="btn btn-default" type="reset"  value="取消">
										<input class="btn btn-default" type="submit"  value="提交">
									</div>
								</form>

								<h6 style="color: rgb(260, 68, 0)">关于这件商品的一些评价</h6>
								<div>
									<table class="table-bordered" style="text-align: center;">
										<tr>
											<th style="width:100px;">用户编号</th>
											<th style="width:400px;text-align: center;">评价</th>
											<th style="width:200px">评价时间</th>
										</tr>

										<volist name="suggest" id="v">
										<tr>
											<td>{$v['rw_user_id']}</td>
											<td>{$v['rw_text']}</td>
											<td>{$v['rw_date']}</td>
										</tr>
										</volist>
									</table>
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar" class="col-md-4">
					<div class="widget wid-categories">
						<div class="heading"><h4>商品类别</h4></div>
						<div class="content">
								<ul>
									<li><a href="/index.php/Home/Goods/goodslist/type/肉类精选">肉类精选</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/type/粮油米面">粮油米面</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/type/名茶名酒">名茶名酒</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/type/果蔬副食">果蔬副食</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/type/水产极品">水产极品</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/type/野生特产">野生特产</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/type/滋补保健">滋补保健</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/type/工艺礼品">工艺礼品</a></li>
								</ul>
						</div>
					</div>

					<div class="widget wid-categories">
						<div class="heading"><h4>商品产地</h4></div>
							<div class="content">
								<ul>
									<li><a href="/index.php/Home/Goods/goodslist/from/云南">云南</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/四川">四川</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/重庆">重庆</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/北京">北京</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/山西">山西</a></li>
								
									<li><a href="/index.php/Home/Goods/goodslist/from/天津">天津</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/江苏">江苏</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/浙江">浙江</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/海南">海南</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/湖南">湖南</a></li>
								
									<li><a href="/index.php/Home/Goods/goodslist/from/福建">福建</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/东三省">东三省</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/西藏">西藏</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/内蒙古">内蒙古</a></li>
									<li><a href="/index.php/Home/Goods/goodslist/from/新疆">新疆</a></li>
								</ul>
							</div>
					</div>	
				</div>
			</div>
		</div>
	</div>


<include file="Home/View/public/footer.html" />


<div class="returnTop">
	<a href="#top">
		<span class="glyphicon glyphicon-upload" id="scrollto"></span>
	</a>
</div>

	<!-- IMG-thumb -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">  1121212              
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<script>
	$(document).ready(function(){
		$(".nav-tabs a").click(function(){
			$(this).tab('show');
		});
		$('.nav-tabs a').on('shown.bs.tab', function(event){
			var x = $(event.target).text();         // active tab
			var y = $(event.relatedTarget).text();  // previous tab
			$(".act span").text(x);
			$(".prev span").text(y);
		});
	});
	</script>
</body>
</html>
