<include file="Home/View/public/header.html" />
    <!--//////////////////////////////////////////////////-->
    <!--///////////////////Cart Page//////////////////////-->
    <!--//////////////////////////////////////////////////-->
    <div id="page-content" class="single-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="/index.php">首页</a></li>
                        <li><a href="javascript:void(0)" style="color:rgb(280,68,0)">确认订单</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-top:-30px">
                <div class="product well">
                    <form method="post" action="cart.php">
                        <table class="table">
                            <tr>
                                <th scope="col">商品ID</th>
                                <th scope="col">商品名称</th>
                                <th scope="col">商品图片</th>
                                <th scope="col">商品单价</th>
                                <th scope="col">市场价格</th>
                                <th scope="col">购买数量</th>
                                <th scope="col">库存量</th>
                                <th scope="col">小计</th>
                            </tr>
                            <volist name="info" id="v">
                            <tr>
                                <td scope="col">{$v['gd_id']}</td>
                                <td scope="col">{$v['gd_name']}</td>
                                <td scope="col"><img src="{$v['gd_img']}"/></td>
                                <td scope="col">￥{$v['gd_price_self']}</td>
                                <td scope="col">￥{$v['gd_price_other']}</td>
                                <td scope="col">{$v['ct_buy_count']}</td>
                                <td scope="col">{$v['gd_num']}</td>
                                <td scope="col">{$v['gd_price_self']*$v['ct_buy_count']}</td>                           
                            </tr>
                            </volist>
                        </table>
                    
                </div>  
            </div>
            
            <div class="row" id="order">

                <div class="col-xs-7">
                  <table class="table">
                            <h4 style="color:rgb(280,68,0)">选择收货地址
                            <span style="font-size: 16px;margin-left:350px"><a href="/index.php/Home/Goods/address" class="btn btn-default btn-sm active" role="button">管理收货地址</a></span>
                            </h4>
                            <tr>
                                <th scope="col">收货人姓名</th>
                                <th scope="col">收货人电话</th>
                                <th scope="col">收货人地址</th>
                                <th></th>
                            </tr>
                            <form name="form" action="" method="post" id="form"> 

                            <if condition="$cos == 1">
                            <tr>
                                    <th>{$choose.ar_name}</td>
                                    <th>{$choose.ar_phone}</td>
                                    <th>{$choose.ar_address}</td>
                                    <th>确定<input type="radio" name="choose" value="{$choose.ar_id}" checked></td>
                            </tr>
                            </if>
                        <volist name="address" id="v">
                            <tr>
                                <td>{$v['ar_name']}</td>
                                <td>{$v['ar_phone']}</td>
                                <td>{$v['ar_address']}</td>
                                <td>确定<input type="radio" name="choose" value="{$v['ar_id']}"></td>
                            </tr>
                        </volist>
                           </form>
                        </table>
                </div>
                <div class="col-xs-4">
                        <table>
                            <h4 style="color:rgb(280,68,0)">结算</h4>
                            <tr>
                                <td>市场额总价</td>
                                <td>￥{$price[1]}</td>
                            </tr>
                            <tr>
                                <td>节省</td>
                                <td>￥{$price[2]}</td>
                            </tr>
                            <tr style="border-top: 1px solid #333">
                                <td><h5 style="color:rgb(280,68,0)">总价</h5></td>
                                <td>￥{$price[0]}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                  <a href="/index.php/Home/Index/cart" class="btn btn-1" style="background:rgb(280,68,0);color:white">返回修改</a>
                                <button class="btn btn-1" style="background:rgb(280,68,0);color:white" onclick="submitOrder();">提交订单</button>
                                 </td>
 <script>
        function submitOrder(){

             var radioSelete = "Nothing";
             var seletedValue;
             var aaa = document.getElementsByName("choose");
                 for(i=0;i<aaa.length;i++)
                 {
                    if(aaa[i].checked)  
                    {
                     radioSelete = "seleted";
                     seletedValue = aaa[i].value;
                    }
                 }
                 if(radioSelete == "Nothing")
                 {
                   alert("请选择收货地址!");
                   return false;
                 }
                else
                {
                 window.location.href = "/index.php/Home/Goods/afterorder/ar_id/"+seletedValue;
                }
           }
    </script>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>

<include file="Home/View/public/footer.html" />